    <!-- Philosophy Section -->
    <section id="philosophy" class="content-section text-center">
        <div class="philosophy-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Philosophy</h2>
                    <p>"<i> ὁ δὲ ἀνεξέταστος βίος οὐ βιωτὸς ἀνθρώπῳ</i>" </p>
                    <p> The un-examined life is not worth living </p>
                    <p>Socrates</p>
                </div>
            </div>
        </div>
    </section>
